* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-light: #eaeaeb;
    --bg-dark: #0e0d0d;
    --primary-color: #2563EB;
    --text-primary: #515155;
    --accent: #FF7F50;
    --accent1: #14B8A6;
    --neutral: #F3F4F6;
    --danger: rgb(230, 49, 49);
    --main-header: 64px;
    --main-header-2: 48px;
    --main-header-3: 30px;
    --sub-header: 32px;
    --sub-header-1: 28px;
    --sub-header-2: 22px;
}

body,
input,
select,
option,
button {
    font-family: "Roboto", sans-serif;
    color: var(--text-primary);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;

}

/* main {
    display: flex;
    gap: 50px;
} */

.main-content {
    display: flex;
    gap: 50px;
    position: relative;
}

.wrapper {
    margin: 20px;
    width: 1200px;
    position: relative;
    background-color: rgb(250, 250, 250, 1);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: sticky;
    top: 0;
}

button {
    outline: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    /* background-color: var(--accent); */
}

h1 {
    font-size: var(--main-header);
    text-align: center;
}

h2 {
    font-size: var(--main-header-2);
}

.right {
    width: 50%;
}

.left {
    width: 30%;
}

#habits-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;

}


.habit-container {
    width: 100%;
    min-height: 60px;
    box-shadow: 0 0 4px 2px rgb(0, 0, 0, 0.3);
    /* background-color: var(--accent1); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding-inline: 20px;
}

.left-card,
.right-card {
    display: flex;
    gap: 10px;
}

.delete {
    color: var(--danger);
    font-size: 20px;

}

.edit {
    color: var(--primary-color);
    font-size: 20px;
}

.date {
    width: 100%;
    display: flex;
    gap: 5px;
}

.date-card {
    width: 200px;
    height: 200px;
    background-color: var(--accent);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.day,
.month {
    font-size: var(--main-header);
    font-weight: 900;
}

.date-card:nth-child(1) {
    flex-direction: column;
}

.dayword {
    font-size: var(--sub-header-2);
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: var(--main-header-2);
    }

    .wrapper {
        max-width: 768px;
    }


}

@media only screen and (max-width: 420px) {
    h1 {
        font-size: var(--main-header-3);
    }

    .wrapper {
        max-width: 420px;
    }


}