* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-light: #eaeaeb;
    --bg-dark: #0e0d0d;
    --primary-color: #2563EB;
    --text-primary: #515155;
    --accent: #FF7F50;
    --accent1: #14B8A6;
    --neutral: #F3F4F6;
    --main-header: 64px;
    --main-header-2: 48px;
    --main-header-3: 30px;
    --sub-header: 32px;
    --sub-header-1: 28px;
    --sub-header-2: 22px;
}

body,
input,
select,
option,
button {
    font-family: "Roboto", sans-serif;
    color: var(--text-primary);
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.wrapper {
    margin: 20px;
    /* background-color: var(--bg-light); */
    width: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

button {
    outline: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: var(--accent);
}

h1 {
    font-size: var(--main-header);
    text-align: center;

}

#habits-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

}

.habit-table {
    width: 100%;
}

#table-header {}

#table-header-row {}


th,
td {
    /* border: 1px solid black; */
    padding: 5px;
    text-align: center;
}

th {
    position: sticky;
    top: 0;
    font-size: var(--sub-header-1);

}

.habit-col {
    width: 45%;
    position: sticky;
    left: 0;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: var(--main-header-2);
    }

    .wrapper {
        max-width: 768px;
    }

    th {
        font-size: var(--sub-header-1);

    }
}

@media only screen and (max-width: 420px) {
    h1 {
        font-size: var(--main-header-3);
    }

    .wrapper {
        max-width: 420px;
    }

    th {
        font-size: var(--sub-header-2);

    }
}